.dialog-title {
    text-align: center;  /* Centers the text horizontally */
    margin: 0;           /* Removes default margin */
  }
  
.row{
    display: flex;
    gap:10px
}

mat-form-field{
    width:100%;
}

.action{
    padding:opx 25px 20px;
   
}

.button-cancel {
   
    color:rgb(248, 243, 243);
    background-color: red;
    margin-left:140px;
}
.button-save{
    
    color: white;
    background-color: green;
    margin-left: 80px;
    

}