.dialog-title {
    text-align: center;  /* Centers the text horizontally */
    margin: 0;           /* Removes default margin */
  }
  
.row{
    display: flex;
    gap:10px
}

mat-form-field{
    width:100%;
}

.action{
    padding:opx 25px 20px;
   
}



button {
    width: 100%; 
    padding: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .save-button {
    background-color: #4CAF50; 
    color: white;
  }
  
  .cancel-button {
    background-color: #f44336; 
    color: white;
  }
  
  button:hover {
    opacity: 0.9; 
  }
  